<!DOCTYPE html>
<html>
    <head>
        <title>Computers At The Lake</title>
        <link rel="shortcut icon" href="/images/favicon/favicon.ico" />
        <link rel="stylesheet" href="/css/style.css">
    </head>


<!-- dont close html tags -->
