<% include partials/head %>
<body>
    <div class="container">
        <nav class="navbar">
            <ul class="navbar-items">
                <li class="nav-item">
                    <a class="nav-link" href="/">HOME<span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/services">SERVICES</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/contact">CONTACT</a>
                </li>
            </ul>
        </nav>
        <div class="contact">
            <div class="image">
                <img src="/images/Computers_At_The_Lake_Transparent_Logo.png" alt="Computers_At_The_Lake_Transparent_Logo">
            </div>
            <div class="content">
                <h2>►Phone: (218) 656-0095</h2>
                <h2>►Phone: (218) 656-0095</h2>
            </div>
        </div>
    </div>
</body>
</html>