<% include partials/head %>
<body>
    <div class="container">
        <nav class="navbar">
            <ul class="navbar-items">
                <li class="nav-item">
                    <a class="nav-link" href="/">HOME<span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/services">SERVICES</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/contact">CONTACT</a>
                </li>
            </ul>
        </nav>
        <div class="contact">
            <div class="image">
                <img src="/images/Computers_At_The_Lake_Transparent_Logo.png" alt="Computers_At_The_Lake_Transparent_Logo">
            </div>
            <div class="content">
                <h2>►Phone: (218) 656-0095</h2>
                <h2>►Email: computers@thelake.consulting</h2>
                <a href="/contact/remote_support">
                    <img src="/images/Get Remote Support Button.png" alt="Get Remote Support Button">
                </a>
            </div>
            <div class="facebook">
                <iframe
                    src="//mj89sp3sau2k7lj1eg3k40hkeppguj6j-a-sites-opensocial.googleusercontent.com/gadgets/ifr?url=http://www.gstatic.com/sites-gadgets/iframe/iframe.xml&container=enterprise&view=default&lang=en&country=ALL&sanitize=0&v=8a093ad7dff4356d&libs=core&parent=http://computers.thelake.consulting/Contact#up_scroll=no&up_iframeURL=https://www.facebook.com/plugins/page.php?href%3Dhttps%253A%252F%252Fwww.facebook.com%252Fcomputersatthelake%26tabs%26width%3D340%26height%3D214%26small_header%3Dfalse%26adapt_container_width%3Dtrue%26hide_cover%3Dfalse%26show_facepile%3Dtrue%26appId%3D261896087183395&st=e%3DAIHE3cB8Gb0%252FOpVCpbHGj%252FBWIiiPK1FSApQ6GJYwhJh7E4fB7salVJtSULZXqCHDko%252FV0%252BHNJZvlo4BA5Fe5FfATxLnJ%252BWGso1qHx8%252Fb7qX7eFeZ5BlUADGOTw7R4u5%252BZuJNQfG9U5SH%26c%3Denterprise&rpctoken=5287362820232240903"
                    frameborder="0"
                >
                </iframe>
            </div>
        </div>
    </div>
</body>
</html>