<% include partials/head %>
<body>
    <h1>Filler text</h1>
    <img src="/public/images/Computers__The_Lake_Web_Banner_White_Update.png" alt="Computers__The_Lake_Web_Banner_White_Update">
    <h1>Serving the North Central Lakes Area</h1>
    <p> Located In Hackensack, Minnesota</p>
</body>
</html>