<% include partials/head %>
<body>
    <div class="container">
        <nav class="navbar">
            <ul class="navbar-items">
                <li class="nav-item">
                    <a class="nav-link" href="/">HOME<span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/services">SERVICES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">CONTACT</a>
                </li>
            </ul>
        </nav>
        <div class="remote_support">
            <p>
                Remote support will allow Computers @ The Lake to connect to your computer and take control remotely to
                help walk you through whatever issue you may be facing.
            </p>
            <p>
                Click on the button below.
            </p>
            <p>
                You will be directed to a web page that will download a key (executable file) that will let me connect to 
                your computer automatically.
            </p>
            <div class="container">
                <img src="/images/Computers__The_Lake_Web_Banner_White_Update.png" alt="Computers__The_Lake_Web_Banner_White_Update">
                <img src="/images/Computers__The_Lake_Web_Banner_White_Update.png" alt="Computers__The_Lake_Web_Banner_White_Update">
            </div>
            <p>
                If there is no automatic download, see if your browser security is blocking the download. 
                Try refreshing the page or hitting the try again button.
            </p>
            <p>
                Once you've downloaded TeamViewerQS.exe please activate it by clicking on it 
                (double clicking if not in downloads list)
            </p>
            <p>
                Add your name to the pop up window
            </p>
            <img src="/images/Computers__The_Lake_Web_Banner_White_Update.png" alt="Computers__The_Lake_Web_Banner_White_Update">
            <p>
                Once your name is entered, I should be able to connect.
            </p>
            <p>
                Please give me a call at (218) 656-0095 to notify me that you're ready.
            </p>
            <p>
                When I initiate the connection it will ask you to allow the connection.
            </p>
            <p>
                That's it!
            </p>
            <p>
                This program will only allow me to connect while it is running. 
                When you close the program I will no longer be able to access your computer. 
                You have full rights to disconnect from me at any point during the remote assistance. 
                Your privacy and security is important.
            </p>
        </div>
    </div>
</body>
</html>