<% include partials/head %>
<body>
    <div class="container">
        <nav class="navbar">
            <ul class="navbar-items">
                <li class="nav-item">
                    <a class="nav-link" href="/">HOME<span class="sr-only"></span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/services">SERVICES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">CONTACT</a>
                </li>
            </ul>
        </nav>
        <div class="services">
            
        </div>
    </div>
</body>
</html>