<% include partials/head %>
<body>
    <div class="container">
        <nav class="navbar">
            <ul class="navbar-items">
                <li class="nav-item">
                    <a class="nav-link" href="/">HOME<span class="sr-only"></span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/services">SERVICES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">CONTACT</a>
                </li>
            </ul>
        </nav>
        <div class="content">
            <img src="/images/Computers__The_Lake_Web_Banner_White_Update.png" alt="Computers__The_Lake_Web_Banner_White_Update">
            <h1>Serving the North Central Lakes Area</h1>
            <p> Located In Hackensack, Minnesota</p>
        </div>
    </div>
</body>
</html>