<% include partials/head %>
<body>
    <div class="container">
        <nav class="navbar">
            <ul class="navbar-items">
                <li class="nav-item">
                    <a class="nav-link" href="/">HOME<span class="sr-only"></span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/services">SERVICES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">CONTACT</a>
                </li>
            </ul>
        </nav>
        <div class="services">
            <h1>►Network Engineering</h1>
            <ul>
                <li>
                    Your WiFi isn't everything. Every smart home or business relies on a solid network structure.
                    POS systems, VOIP, Printers, Smart TVs, or any device that can connect to a network.
                </li>
            </ul>
            <h1>►I.T. Consulting especially for Construction</h1>
            <ul>
                <li>
                    Always be sure you've planned for everything.
                    When building a new home or business, consider having an experienced consultant who is up to date on the latest and greatest in technology.
                </li>
                <li>
                    Assure you're future proof.
                </li>
            </ul>
            <h1>►Wireless Networks</h1>
            <ul>
                <li>
                    Strong reliable WiFi.
                </li>
                <li>
                    With experience in everything from obscure small residential homes to large scale commercial developments. Both indoor and outdoor. With the ability to send your WiFi for Miles.
                </li>
            </ul>
            <h1>►Smart Home Management</h1>
            <ul>
                <li>
                    There always seems to be a new toy to get for your home. Need someone to set it up? I can help.
                </li>
            </ul>
            <h1>►Audio/Visual Systems Design</h1>
            <ul>
                <li>
                    Entertainment centers, theaters, studios, I can help make it happen.
                </li>
            </ul>
            <h1>►Custom Desktop Computers</h1>
            <ul>
                <li>
                    Free estimates.
                </li>
                <li>
                    Reliable desktops for office, production, gaming, virtual reality, and simulation setups.
                </li>
            </ul>
            <h1>►Virus and Malware removal</h1>
            <ul>
                <li>
                    Thorough computer scans and removal of all malicious software.
                </li>
            </ul>
        </div>
    </div>
</body>
</html>