.container {
  margin: 0 13.75%;
  font-family: "Open Sans", sans-serif;
}
.navbar {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #e9e9e9;
  overflow: hidden;
  margin-bottom: 5vh;
  text-align: right;
  font-size: 0;
}
.navbar-items {
  margin: 0;
  font-size: 14px;
  display: inline-block;
}
.nav-item {
  display: block;
  float: left;
  margin-bottom: 4px;
}
.nav-item a {
  color: #222;
  font-weight: 600;
  display: block;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 23px;
  padding-bottom: 16px;
  text-decoration: none;
}
.navbar .active {
  margin-bottom: 0px;
  border-bottom-color: #52a1d2;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}
.nav-item:hover {
  margin-bottom: 0px;
  border-bottom-color: #52a1d2;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}
.index {
  text-align: center;
}
.index img {
  width: 61.2vw;
  height: 35%;
  margin-bottom: 5%;
}
.services {
  text-align: center;
}
.contact {
  text-align: center;
}
